@import 'react-md/src/scss/react-md';

$md-light-theme: false; // optional for light theme
$md-primary-color: $md-indigo-500;
$md-secondary-color: $md-deep-orange-a-700;

@include react-md-everything;

// Or for a subsection
@include react-md-theme-everything($md-indigo-500, $md-deep-orange-a-700, $md-light-theme, 'custom-theme');